:root {
  --primary: #003366;
  --secondary: #6c757d;
}

body {
    font-family: 'Arial', sans-serif;
    color: #333;
}

h1 {
    color: var(--primary);
    border-bottom: 2px solid var(--secondary);
    padding-bottom: 10px;
}

h2 {
    color: var(--primary);
    background: #f0f4f8;
    padding: 10px;
    border-left: 5px solid var(--primary);
}

table {
    border: none;
    width: 100%;
}

th {
    background: var(--primary);
    color: white;
    text-transform: uppercase;
    font-size: 0.85em;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
