body {
    font-family: 'Georgia', serif;
    font-size: 12pt;
    line-height: 1.6;
}

h1 {
    font-family: 'Impact', sans-serif;
    font-size: 4em;
    line-height: 1;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    letter-spacing: -2px;
}

p:first-of-type::first-letter {
    font-size: 3.5em;
    float: left;
    margin-right: 0.1em;
    line-height: 1;
    font-weight: bold;
}

blockquote {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: none;
    text-align: center;
    padding: 2em;
    margin: 2em 0;
}
