:root {
  --font-primary: 'Georgia', serif;
  --font-mono: 'Courier New', monospace;
  --color-bg: #fdfdfd;
  --color-text: #333;
}

body {
    font-family: var(--font-primary);
}

h1, h2, h3 {
    font-family: var(--font-primary);
    color: #b71c1c; /* O'Reilly-ish Red */
}

pre, code {
    font-family: var(--font-mono);
    font-size: 0.9em;
}

table thead {
    background-color: #333;
    color: white;
}
